/* Estilos para o sidenav */
.sidenav-container {
  height: 93%;
}

mat-sidenav {
  width: 250px;
  padding: 4px;

}

.container-button-sidenav {
  height: 100%;
  position: fixed;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: none;
  span{
    cursor: pointer;
  }
}

.sidenav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  width: 120px;
  /* Ajuste conforme o tamanho da sua logo */
  height: auto;
}

mat-nav-list a {
  color: black;
  /* Altere conforme seu design */
}

.sidenav-nav-item {
  display: flex;
  align-items: center;
  transition: color .3s ease;
  background-color: rgb(228, 220, 220);
  border-radius: 40px;
  margin-top: 3px;

  .sidenav-nav-link {
    font-size: 20px;
    text-decoration: none;
  }

  .sidenav-nav-link-icon {
    font-size: 20px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
  }

  .sidenav-link-text {
    margin-left: 1.5rem;
  }
}