<form (ngSubmit)="save()" [formGroup]="beneficiarioForm">
  <div mat-dialog-title class="dialog-title">
    <div class="text-container">
      <h2 *ngIf="beneficiarioForm.get('nome')?.value">
        {{ beneficiarioForm.get('nome')?.value }}
      </h2>
      <h2 *ngIf="!beneficiarioForm.get('nome')?.value">Novo Beneficiário</h2>
    </div>

    <div class="button-container">
      <button mat-dialog-close mat-mini-fab color="primary" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-tab-group [disableRipple]="false">
    <mat-tab label="Descrição">
      <mat-dialog-content class="dialog-container">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input cdkFocusInitial formControlName="nome" matInput minlength="2" maxlength="50" required>
          <mat-error *ngIf="!beneficiarioForm.get('nome')?.valid"></mat-error>
        </mat-form-field>

        <div class="container-fields">
          <mat-form-field>
            <mat-label>Data Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="margin-left: 5px;">
            <mat-label>Telefone</mat-label>
            <input formControlName="telefone" matInput minlength="2" maxlength="50" required>
            <mat-error *ngIf="!beneficiarioForm.get('telefone')?.valid"></mat-error>
          </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-tab label="Documentos">
        <abs-documentos [exibirTitulo]="true" [beneficiarioId]="defaults.id"></abs-documentos>
      </mat-tab>
    </mat-tab>
  </mat-tab-group>

  <mat-dialog-actions align="end">
    <button *ngIf="isCreateMode()" [disabled]="!beneficiarioForm.valid" color="primary" mat-raised-button type="submit"
      matTooltip="Create new Beneficiario">
      <mat-icon>add</mat-icon>
      Criar
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-raised-button type="submit" matTooltip="Update">
      <mat-icon>edit</mat-icon>
      Atualizar
    </button>
    <button type="button" *ngIf="isUpdateMode()" (click)="deleteBeneficiario()" color="primary" mat-raised-button
      matTooltip="Delete">
      <mat-icon>delete</mat-icon>
      Deletar
    </button>

  </mat-dialog-actions>
</form>