.dialog-title {
  width: 100%;
  display: inline-block;
  padding: 10px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.container-fields {
  width: 100%;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.avatar-container,
.text-container {
  float: left;
}

.button-container {
  float: right;
}

.button-status-container {
  float: left;
  margin-right: 8px;
  color: white;
}

/* Seu arquivo de estilo .scss */

.card {
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

img {
  width: 6rem;
  height: auto;
}

.card-content {
  padding: 16px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome {
  font-weight: bold;
  color: navy;
  /* Azul marinho */
}

.descricao {
  font-size: small;
  margin-top: 8px;
}

.valor {
  margin-top: 8px;
  color: green;
  /* Cor verde para o valor */
}

.clientes {
  border: 1px solid rgb(126, 155, 190);
  border-radius: 5px;
  padding: 15px;

  .item {
    border-radius: 30px;
  }
}

.container-lista{
  display: flex;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.produto-button {
  display: flex;
  width: auto;
  padding: 3px;
  height: auto;
  margin: 5px;
  min-width: 20rem;
}

.produto-button img {
  width: 80px;
}

.produto-button div {
  flex-grow: 1;
}

.produto-button .nome {
  font-weight: bold;
}

.produto-button .valor {
  font-size: 0.9em;
}

.example-viewport {
  width: 22rem;
  height: 15rem;
}

.example-item {
  height: 50px;
}

.total{
  text-align: right;
}

.itens{
  min-width: 18rem;
}