<form (ngSubmit)="save()" [formGroup]="pedidoForm">
  <div mat-dialog-title class="dialog-title">
    <div class="text-container">
      <h2 *ngIf="pedidoForm.get('id')?.value">
        PEDIDO: {{ pedidoForm.get('id')?.value.toString().padStart(5, '0') }}
      </h2>

      <h2 *ngIf="!pedidoForm.get('id')?.value">Novo Pedido</h2>
    </div>

    <div class="button-container">
      <button mat-dialog-close mat-mini-fab color="primary" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-tab-group [disableRipple]="false">
    <mat-tab label="Descrição">
      <mat-dialog-content class="dialog-container">
        <div class="container-fields">
          <div class="button-status-container">
            <button mat-icon-button type="button"
              [style.background-color]="pedidoForm.get('ativo')?.value ? 'green' : 'red'" (click)="togglePedido()">
              <mat-icon>{{ pedidoForm.get('ativo')?.value ? 'done' : 'clear' }}</mat-icon>
            </button>
          </div>

          <mat-form-field appearance="outline" class="block w-full">
            <mat-label>id</mat-label>
            <input formControlName="id" matInput readonly>
            <mat-error *ngIf="!pedidoForm.get('id')?.valid">
              * Preenchimento obrigatório.
            </mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="block w-full" style="margin-left: 5px;">
            <mat-label>Data do Pedido</mat-label>
            <input matInput [matDatepicker]="dataPedido" formControlName="dataPedido" readonly>
            <mat-datepicker-toggle matSuffix [for]="dataPedido"></mat-datepicker-toggle>
            <mat-datepicker #dataPedido></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="block w-full" style="margin-right: 5px;">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.nome}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="cliente">
            <mat-option [value]="cliente.id" *ngFor="let cliente of clientes">{{cliente.id}} - {{ cliente.nomeFantasia
              }} -
              {{cliente.cnpj}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <mat-label style="margin-right: 18rem;">Produtos</mat-label>
          <mat-label>Itens no pedido</mat-label>
        </div>
        <div class="container-lista">
          <cdk-virtual-scroll-viewport [itemSize]="produtos?.length" class="example-viewport">
            <div>
              <!-- Utilize a diretiva *ngFor para iterar sobre os produtos e criar os botões -->
              <button [disabled]="produto.quatidadeEstoque < 1" type="button" mat-button class="produto-button" *ngFor="let produto of produtos"
                (click)="adicionarItem(produto)">
                <div class="container-lista">
                  <img src="{{ produto.imageUrl }}" alt="{{ produto.nome }}">
                  <div>
                    qtde: {{produto.quatidadeEstoque}}
                    <span class="nome">{{ produto.nome }}</span>
                    <br>
                    <span class="descricao">{{ produto.descricao }}</span>
                    <br>
                    <span class="valor">{{ produto.precoRevenda | currency:'BRL':'symbol':'1.2-2' }}</span>
                  </div>
                </div>
              </button>
            </div>
          </cdk-virtual-scroll-viewport>

          <cdk-virtual-scroll-viewport [itemSize]="produtosSelecionados?.length" class="example-viewport">
            <div>
              <!-- Utilize a diretiva *ngFor para iterar sobre os produtos e criar os botões -->
              <div class="produto-button" *ngFor="let produto of produtosSelecionados">
                <div class="container-lista">
                  <div style="display: flex;justify-content: space-between;align-items: center;">
                    <span>{{ produto.produto.nome }} X {{ produto.quantidade }}</span>
                    <span>{{ produto.produto.precoRevenda | currency:'BRL':'symbol':'1.2-2' }}</span>
                    <button mat-icon-button type="button" (click)="removerItem(produto)">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-dialog-content>
    </mat-tab>
    <mat-tab label="Forma de pagamento">
      <mat-dialog-content class="dialog-container">
        <mat-form-field appearance="outline" class="block w-full">
          <mat-label>Forma de pagamento</mat-label>
          <mat-select [formControl]="formaPegamento">
            <mat-option *ngFor="let formaPegamento of formasPagamentos"
              [value]="formaPegamento.id">{{formaPegamento.descricao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="container-fields" *ngIf="formaPegamento.value === 2">
          <mat-form-field appearance="outline" class="block w-full">
            <mat-label>Parcelamento em ate: </mat-label>
            <mat-select [formControl]="totalParcelas">
              <mat-option *ngFor="let totalParcela of parcelas"
                [value]="totalParcela.id">{{totalParcela.descricao}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span class="valor" *ngIf="totalParcelas.value !== null">
            de {{ total / totalParcelas.value | currency:'BRL':'symbol':'1.2-2' }}
          </span>
        </div>
      </mat-dialog-content>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <div class="total">
    Total: <span class="valor">{{ total | currency:'BRL':'symbol':'1.2-2' }}</span>
  </div>

  <mat-dialog-actions align="end">
    <button *ngIf="tab!=1" color="primary" [disabled]="!pedidoForm.valid" mat-raised-button type="button"
      (click)="selecionarAba(1)">
      Fechar pedido
    </button>
    <button *ngIf="tab!=0" color="primary" mat-raised-button type="button" (click)="selecionarAba(0)">
      Voltar
    </button>
    <button *ngIf="isCreateMode() && tab==1" [disabled]="!pedidoForm.valid" color="primary" mat-raised-button
      type="submit" matTooltip="Create new Pedido">
      <mat-icon>shop</mat-icon>
      Confirmar pagamento
    </button>

    <button *ngIf="isUpdateMode()" color="primary" mat-raised-button type="submit" matTooltip="Update">
      <mat-icon>edit</mat-icon>
      Atualizar
    </button>
    <button type="button" *ngIf="isUpdateMode()" (click)="deletePedido()" color="primary" mat-raised-button
      matTooltip="Delete">
      <mat-icon>delete</mat-icon>
      Deletar
    </button>

  </mat-dialog-actions>
</form>