<form (ngSubmit)="save()" [formGroup]="categoriaForm">
  <div mat-dialog-title class="dialog-title">
    <div class="text-container">
      <h2 *ngIf="categoriaForm.get('nome')?.value">
        {{ categoriaForm.get('nome')?.value }}
      </h2>
      <h2 *ngIf="!categoriaForm.get('nome')?.value">Nova Cátegoria de produto</h2>
    </div>

    <div class="button-container">
      <button mat-dialog-close mat-mini-fab color="primary" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-tab-group [disableRipple]="false">
    <mat-tab label="Descrição">
      <mat-dialog-content class="dialog-container">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input cdkFocusInitial formControlName="nome" matInput required>
          <mat-error *ngIf="!categoriaForm.get('nome')?.valid">
            * Preenchimento obrigatório.
          </mat-error>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input formControlName="descricao" matInput>
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
      </mat-dialog-content>
    </mat-tab>
  </mat-tab-group>

  <mat-dialog-actions align="end">
    <button *ngIf="isCreateMode()" [disabled]="!categoriaForm.valid" color="primary" mat-raised-button type="submit"
      matTooltip="Create new Categoria">
      <mat-icon>add</mat-icon>
      Criar
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-raised-button type="submit" matTooltip="Update">
      <mat-icon>edit</mat-icon>
      Atualizar
    </button>
    <button type="button" *ngIf="isUpdateMode()" (click)="deleteCategoria()" color="primary" mat-raised-button
      matTooltip="Delete">
      <mat-icon>delete</mat-icon>
      Deletar
    </button>

  </mat-dialog-actions>
</form>