<form (ngSubmit)="save()" [formGroup]="estoqueForm">
  <div mat-dialog-title class="dialog-title">
    <div class="avatar-container">
      <img (click)="updateImage()" src="../../../../assets/avatar.png" class="avatar" mat-mini-fab
        matTooltip="Change photo">
    </div>

    <div class="text-container">
      <h2 *ngIf="estoqueForm.get('login')?.value">
        {{ estoqueForm.get('login')?.value }}
      </h2>
      <h2 *ngIf="!estoqueForm.get('login')?.value">Novo Estoque</h2>
    </div>

    <div class="button-container">
      <button mat-dialog-close mat-mini-fab color="primary" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-tab-group [disableRipple]="false">
    <mat-tab label="Descrição">
      <mat-dialog-content class="dialog-container">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input cdkFocusInitial formControlName="nome" matInput minlength="2" maxlength="50" required>
          <mat-error *ngIf="!estoqueForm.get('nome')?.valid">
            * Preenchimento obrigatório.
          </mat-error>
          <mat-icon matSuffix>store</mat-icon>
        </mat-form-field>

        <mat-form-field style="margin-left: 5px;">
          <mat-label>Descrição</mat-label>
          <input formControlName="descricao" matInput>
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>

        <div class="container-fields">
          <mat-form-field style="margin-left: 5px;">
            <mat-label>Preço</mat-label>
            <input formControlName="preco" matInput>
            <mat-icon matSuffix>monetization_on</mat-icon>
          </mat-form-field>

          <mat-form-field style="margin-left: 5px;">
            <mat-label>Quantidade</mat-label>
            <input formControlName="quantidade" matInput>
          </mat-form-field>
        </div>
      </mat-dialog-content>
    </mat-tab>
  </mat-tab-group>

  <mat-dialog-actions align="end">
    <button *ngIf="isCreateMode()" [disabled]="!estoqueForm.valid" color="primary" mat-raised-button type="submit"
      matTooltip="Create new Estoque">
      <mat-icon>add</mat-icon>
      Criar
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-raised-button type="submit" matTooltip="Update">
      <mat-icon>edit</mat-icon>
      Atualizar
    </button>
    <button type="button" *ngIf="isUpdateMode()" (click)="deleteEstoque()" color="primary" mat-raised-button
      matTooltip="Delete">
      <mat-icon>delete</mat-icon>
      Deletar
    </button>

  </mat-dialog-actions>
</form>